.singleReflection-container{
    margin: 2% 20% 2% 20%;
}

.singleReflection-container h2{
    font-size: 2em;
    color: #05a8aa;
}

.singleReflection-container p{
    font-size: 1.15em;
    color: #474747;
}

@media (max-width: 800px){
    .singleReflection-container{
        margin-bottom: 5%;
        margin-top:5%;
    }
    .singleReflection-container p{
        font-size: 1.05em;
    }
}